doctype html
html(lang='en')
   head
      title="Nextflix"
   body
      h1="Top trend"
      table(style='border: 1px solid black;')
         tr(style='border: 1px solid black;')
            each val in name
               td(style='border: 1px solid black;')= val