style
    include more_like_this.css
<h1 self="left">Top rated on WebFlix</h1>
div(layout="row top-left" class="gallery")
    div(class="movie")
        each val in name
            span(title=val class='item')=val